/* SOURCE: https://codepen.io/vincesamoy/pen/EymxOx */

/* stylelint-disable */
.flex-item {
  color: #fff;
  height: 100%;
  /* margin: 0;
  padding: 0; */
  width: 100%;
  position: relative;
  border-right: solid 0.75rem $nearBlack;
  border-bottom: solid 0.75rem $nearBlack;
}
.flex-item-inner {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  /* margin: 0;
  padding: 0; */
  width: 100%;
}
a {
  color: black;
  display: block;
  height: 100%;
  position: relative;
}
.flex-item:focus a::after,
.flex-item:hover a::after {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.flex-item .tile-primary-content,
.flex-item .tile-secondary-content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.flex-item .tile-primary-content {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
}
.flex-item .tile-primary-content i.tile-icon {
  display: block;
  margin: 10px auto 20px auto;
  text-align: center;
}
.flex-item .tile-primary-content h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0;
}
.flex-item .tile-primary-content p.detail {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.flex-item .tile-primary-content p.link {
  align-self: flex-end;
  -webkit-align-self: flex-end;
  margin: auto 0 0 0;
}
.flex-item:focus .tile-primary-content h4,
.flex-item:hover .tile-primary-content h4,
.flex-item:focus .tile-primary-content p.detail,
.flex-item:hover .tile-primary-content p.detail,
.flex-item:focus .tile-primary-content p.link,
.flex-item:hover .tile-primary-content p.link {
  -moz-transform: translate3d(150%, 0, 0);
  -webkit-transform: translate3d(150%, 0, 0);
  transform: translate3d(150%, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1);
}
.flex-item .tile-primary-content h4,
.flex-item .tile-primary-content p.detail,
.flex-item .tile-primary-content p.link {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition-delay: 150ms;
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
}
.flex-item .tile-secondary-content {
  opacity: 0;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -webkit-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.flex-item .tile-secondary-content p {
  color: #000;
  opacity: 1;
  -moz-transform: translate3d(-150%, 0, 0);
  -webkit-transform: translate3d(-150%, 0, 0);
  transform: translate3d(-150%, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1);
}
.flex-item:focus .tile-secondary-content p,
.flex-item:hover .tile-secondary-content p {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -o-transition: -o-transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0, 0, 0.4, 1);
  -webkit-transition-delay: 150ms;
  transition: transform 300ms cubic-bezier(0, 0, 0.4, 1) 150ms;
}
.flex-item .tile-secondary-content p {
  color: #fff;
}
.flex-item .tile-secondary-content p.title {
  font-size: 18px;
  margin-top: 90px;
}
.flex-item:focus h4,
.flex-item:focus p.detail,
.flex-item:focus p.link,
.flex-item:focus .tile-secondary-content,
.flex-item:hover h4,
.flex-item:hover p.detail,
.flex-item:hover p.link,
.flex-item:hover .tile-secondary-content {
  opacity: 1;
}
.flex-item.bg-violet .tile-primary-content {
  background-image: linear-gradient(
    to right bottom,
    #6b5471,
    #715a77,
    #78617e,
    #7e6784,
    #856e8b
  );
}
.flex-item.bg-magenta .tile-primary-content {
  background-image: linear-gradient(
    to right bottom,
    #9e32b7,
    #a641be,
    #af50c5,
    #b75dcc,
    #bf6ad3
  );
}
.flex-item.bg-blue .tile-primary-content {
  background-image: linear-gradient(
    to right bottom,
    #00a0d2,
    #30a8d4,
    #48b1d6,
    #5db9d8,
    #6fc1da
  );
}
.flex-item.bg-green .tile-primary-content {
  background-image: linear-gradient(
    to right bottom,
    #00c389,
    #23cc95,
    #36d4a2,
    #46ddae,
    #55e5ba
  );
}
.flex-item.bg-yellow .tile-primary-content {
  background-image: linear-gradient(
    to left top,
    #ebbe3f,
    #ecbe4c,
    #edbf58,
    #edbf64,
    #edc06f
  );
}
.transform-icon-mobile-phone-telephone_ {
  transform: matrix(0, 0, 0, 0, 0, 0);
}
.icon-transform-multi-mode {
  transform-origin: top left;
  transform: matrix(3.5, 0, 0, 3.5, 0, 0);
}
.icon-transform-postcss {
  transform-origin: top left;
  transform: matrix(3, 0, 0, 3, 0, 0);
}
.icon-transform-css-linting {
  transform-origin: top left;
  transform: matrix(0.1, 0, 0, 0.1, 0, 0);
}
.icon-transform-javascript-linting {
  transform-origin: top left;
  transform: matrix(0.15, 0, 0, 0.15, 0, 0);
}
.header {
  text-align: center;
  font-size: 1.75rem;
  padding: 0.75em 0;
  margin: 0;
  color: #fff;
  background-color: transparent;
  @mixin atSmall {
    color: $lightRed;
  }
  @mixin atMedium {
    color: $lightGreen;
  }
  @mixin atLarge {
    color: $lightBlue;
  }
}
.status {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0.25rem 0.5rem;
  background-color: $moonGray;
  color: $midGray;
  box-shadow: -2px 3px 5px 3px rgba(0, 0, 0, 0.75);
  font-size: 0.75em;
  font-weight: 600;
}
.status::after {
  color: $lightRed;
  content: "@default";
  @mixin atSmall {
    content: "@small";
  }
  @mixin atMedium {
    content: "@medium";
  }
  @mixin atLarge {
    content: "@large";
  }
}
.maybe {
  background-color: red;
  color: blue;
}

/* stylelint-enable */
