<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Features of ES6 Base Boilerplate</title>


  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>  
</head>
<body>

  <h2 class="header">Boilerplate Features</h2>

  <main class="cf w-100 pl3">

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-blue">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--mobile tile-icon icon-64"></i>
                  <h4>Mobile-First</h4>
                  <p class="detail">Approach</p>
                  <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Mobile-First Approach.</p>
                  <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-blue">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--responsive tile-icon icon-64""></i>
                                    <h4>Responsive Design</h4>
                                    <p class="
                    detail">Ready</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Mobile-First Approach.</p>
                  <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-green">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--javascript tile-icon icon-64""></i>
                    <h4>EcmaSCRIPT 2015+</h4>
                    <p class="detail">Empowered</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">ES6+ with Babel 7.</p>
                  <p class="desc">Cras posuere consequat nisl, ut rhoncus odio finibus sit amet.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-green">
            <div class="flex-item-inner">
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--javascript tile-icon icon-64""></i>
                                      <h4>Javascript linting</h4>
                                      <p class="
                    detail">Enabled</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Javascript linting provided with ESLint.</p>
                  <p class="desc">Nullam porttitor dui quis commodo mattis. Fusce posuere, nisl id.</p>
                </div>
              </a>
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-yellow">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--3d-modelling tile-icon icon-64""></i>
                    <h4>PostCSS</h4>
                    <p class="detail">Steered</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Full throttle with PostCSS.</p>
                  <p class="desc">Etiam imperdiet ullamcorper dolor sit amet molestie nibh in ligula.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-yellow">
            <div class="flex-item-inner">
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--css-file-format-with-brackets tile-icon icon-64""></i>
                    <h4>CSS linting</h4>
                    <p class="detail">Enforced</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">CSS linting enabled with Stylelint.</p>
                  <p class="desc">Nullam porttitor dui quis commodo mattis. Fusce posuere, nisl id.</p>
                </div>
              </a>
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-magenta">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--3d-modelling tile-icon icon-64"></i>
                  <h4>Webpack 4</h4>
                  <p class="detail">Driven</p>
                  <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Mobile-First Approach.</p>
                  <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>
    
    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-magenta">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--multi tile-icon icon-64""></i>
                    <h4>Multi-mode Configuration</h4>
                    <p class="detail">Implemented</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Webpack Multi-mode Configurations</p>
                  <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>

    <div class="fl w-50 w-third-m w-25-ns">
      <div class="aspect-ratio aspect-ratio--1x1">
        <!-- block -->
        <div class="db aspect-ratio--object">
          <!-- flex-item -->
          <div class="flex-item bg-magenta">
            <div class="flex-item-inner">
              <!-- card -->
              <a href="#">
                <div class="tile-primary-content">
                  <i class="icon icon--web-svg tile-icon icon-64""></i>
                                    <h4>SVG Sprites</h4>
                                    <p class="
                    detail">Generator</p>
                    <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
                </div>
                <div class="tile-secondary-content">
                  <p class="title">Powered by Gulp 4</p>
                  <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
                </div>
              </a>
              <!-- /card -->
            </div>
          </div>
          <!-- /flex-item -->
        </div>
        <!-- block -->
      </div>
    </div>
    
  </main>


  <div class="status">media</div>
</body>
</html>

