<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Solution ES6 Base Boilerplate</title>
</head>
<body>
<div class="status">media</div>
<h2 class="header"><strong>ES6 Starter/Base Boilerplate</strong></h2>

<h3>Features</h3>
<ul>
  <li>Mobile-First Approach</li>
  <li>Webpack 4 Composable Multi-mode Configurations</li>
  <li>ES6+ with Babel 7</li>
  <li>Full throttle with PostCSS</li>
  <li>Javascript linting provided with ESLint</li>
  <li>CSS linting enabled with Stylelint</li>
  <li>SVG Sprites Generator with Gulp 4</li>
</ul>

</body>

</html>

