.header {
  color: #fff;
  background-color: silver;

  /* SHOWCASE USE OF MIXINS AND VARIABLES */
  @mixin atSmall {
    color: $lightRed;
    background-color: $darkRed;
  }

  @mixin atMedium {
    color: $lightGreen;
    background-color: $darkGreen;
  }

  @mixin atLarge {
    color: $lightBlue;
    background-color: $darkBlue;
  }
}

